<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Currency List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/currency/home">Currency Price</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/currency/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/currency/MICB">Moldindconbank</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/currency/MAIB">MAIB</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/currency/Mobiasbanca">Mobiasbanca</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/currency/Victoriabank">Victoriabank</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <span class="position-absolute top-0 end-0 my-3 mx-2" th:text="${date}"></span>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--Table-->

<h2 th:text="${bankName}"></h2>
<table border=2 cellspacing="0" class="table table-hover">
    <thead>
    <tr>
        <td>Currency</td>
        <td>Price</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="currency : ${currencyList}">
        <td th:text="${currency.getName()}"></td>
        <td th:text="${currency.getValue()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>